<!DOCTYPE html>
<html>
<head>
  <title>Cctst</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body  id="rndiv">

<div>
	index
	index
	index </br>
	<button onclick="rnderto();">RNDT</button>
</div>

</body>
<%# content_for :js do %>
<script type="text/javascript">
  $(function(){
  });

  function rnderto(){
 		// $("#rndiv").html("<%#=j(render 'show_parking_areas', community_store: @community_store) %>");
 		$("#rndiv").html("<%=j(render(template: 'noacns/ncn', formats: 'html')) %>"); 		
  }
</script>
<%# end %>
</html>
